$header-height     : 5.2em;
$header-bg         : hsla(181, 41%, 60%, 1);
$header-color      : hsla(0, 0%, 100%, 1);
$header-font-size  : 1.7em;

$footer-font-size  : 1.5em;
$footer-height     : 3.4em;
$footer-bg         : hsla(29, 88%, 53%, 1);
$footer-color      : hsla(0, 0%, 100%, 1);

$page-bg           : hsla(51, 36%, 89%, 1);

$registration-button-color    : hsla(0, 0%, 100%, 1);
$registration-text-color      : hsla(0, 0%, 18%, 1);
$registration-color-one       : hsla(40, 95%, 62%, 1);
$registration-color-two       : $header-bg;