$bg-pattern:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=';
$blue:hsla(185, 82%, 33%, 1);
$red: hsla(0, 93%, 43%, 1);
$green: hsla(113, 95%, 38%, 1);
$form-width:44em;
$input-height:2.6em;
$input-font:1.5em;