$header-height     : 5.2em;
$header-bg         : hsla(181, 41%, 60%, 1);
$header-color      : hsla(0, 0%, 100%, 1);
$header-font-size  : 2em;

$footer-font-size  : 2em;
$footer-height     : 3.4em;
$footer-bg         : hsla(29, 88%, 53%, 1);
$page-bg           : hsla(29, 10%, 95, 1);
