@import "compass";
@import "compass/reset";
@import "config";
@import "partials";


body,html{
    height:100%;
}
body{
    font-size:10px;
    margin: 0;
	background: black;
} 
/*============[background]============*/
@import "parts/background";
/*============[/background]============*/
 
/*============[header]============*/
@import "parts/header/all";
/*============[/header]============*/

/*============[footer]============*/
@import "parts/footer";
/*============[/footer]============*/


section.main{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: white;
	height: 100%;
}