
.container-wrapper {
  font-family: Roboto, arial, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #eaedf2;
  min-height: 50%;
  .container{
    width:96em;
    margin:0 auto 0;
  }
  h3{
    //font-weight:bold;
    color: #0dabba;
    font-size:3.2em;
    margin:0 0 0.75em 0.46875em;
    text-align:center;
    font-family: 'Nino Mtavruli';
  }
  section{
    margin-bottom:10em;
    padding-top:1em;
  }
}

/*============[faq]============*/
@import "faq";
/*============[/faq]============*/
 
/*============[speakers]============*/
@import "speakers";
/*============[/speakers]============*/
 
/*============[sponsors]============*/
@import "sponsors";
/*============[/sponsors]============*/
