
.container-wrapper {
  font-family: Roboto, arial, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #eaedf2;
  min-height: 50%;
  .container{
    width:96em;
    margin:0 auto 0;
  }
}

/*============[faq]============*/
@import "faq";
/*============[/faq]============*/
 
.sponsors{
  margin-top:8em;
  h3{
    text-align:center;
  }
}