
.faq{
  width:90em;
  margin:2em auto 0;
  position:relative; 
  @include clearfix();
  b{
    font-weight:bold;
  }
  h3{
    font-family: Roboto, arial, sans-serif;
    text-align: left;
    &:before{
      $ufo: 'ufo.png';
      content:'';
      position:absolute;
      left:-1 * image-width($ufo);
      height:image-height($ufo);
      width:image-width($ufo);
      @include background(inline-image($ufo));
      
    }
  }
  p{
    color: #111111;
    margin:0 0 1.5em 1.25em;
    font-size:1.6em;
    line-height:1.2em;
    font-family: 'Nino Medium';
  }
  h4{
    font-family: 'Nino Mtavruli';
    font-size:1.75em;
    margin-bottom:0.5em;
    text-align:left;
    a{
      text-decoration:none;
    }
  }
  a{
    color:#2f9497;
  }
  .faq-item{
    position:relative;
    padding-top:0.75em;
    float: left;
    width: 50%;
    min-height: 19em;
    &:before{
      $question:'question.png';
      content:'';
      position:absolute;
      left:-1 * image-width($question) - 5px;
      opacity:0;
      top:2px;
      height:image-height($question);
      width:image-width($question);
      @include background(inline-image($question));
      //@include transition(opacity 0.1s);
    }
    &:target{
      &:before{
        opacity:1;
      }
    }
  }
}