
.sponsors{
    .peta img{        
        width: 277px;
        height: 178px;
    }
    .tera img{        
        width: 319px;
        height: 130px;
    }
    .giga .sponsor-item{
        margin:0 3em;
        img{  
            width: 239px;
            height: 110px;
        }
    }
    .mega .sponsor-item{
        margin:0 1em;
        img{
            width: 191px;
            height: 90px;
        }
    }
    .kilo img{
        width: 159px;
        height: 70px;
    }
}
.partners, .media-partners, .kilo, .mega, .giga, .tera, .peta{
    text-align:center;
}
.partners .partner-item{
    margin:0 1em;
}
.partners, .media-partners{
    font-size:0.6em;
    img{
        width: 25em;
        height: 10.2em;
    }
}