//http://www.picz.ge/img/s2/1401/16/3/3d5fce9b7d58.png
//http://jsfiddle.net/yijiang/nDxYJ/
.baner-wrapper{
	$baner-bg            : hsla(0, 0%, 97%, 1);

	$prize-bg            : hsla(0, 0%, 95%, 1);
	$prize-shadow        : hsla(0, 0%, 10%, 0.5);
	$prize-color         : hsla(180, 36%, 61%, 1);

	$header-bg           : hsla(181, 45%, 61%, 1);
	$header-color        : white;

	$features-bg         : hsla(180, 7%, 97%, 1);
	$features-stroke     : hsla(0, 0%, 100%, 1);
	$features-color      : hsla(0, 1%, 21%, 1);
	$features-dot-color  : hsla(40, 98%, 65%, 1);

	$date-bg             : hsla(0, 0%, 96%, 1);
	$date-shadow         : hsla(90, 1%, 61%, 1);

  width:37em;
  top: 0em;
  right: 0em;
  padding-bottom: 5em;
  position:absolute;
	.header-wrapper{
	  background-color:$header-bg;
	  padding:1.7em 2em;
	  h1{
	    font-size:2em;
	    margin:0;
	    color: $header-color;
	    font-weight:normal;
	    line-height: 1em;
	  }
	}
	.features-wrapper{
		background-color: $baner-bg;
	  box-shadow: 0 0 0 0.35em $features-stroke inset;
	  ul{
	    list-style:none;
	    padding: 2em 0; 
	    li{
		    .marked{
		    	margin: -0.2em;
		    	padding: 0.2em;
		    	background-color: $header-bg;
		    }
	      font-size:1.6em;
	      color:$features-color;
	      line-height:2em;
	      position:relative;
	      padding:0 2em;
	      &:before{
	        content:'';
	        position:absolute;
	        background-color:$features-dot-color;
	        height:.75em;
	        width:.75em;
	        left:.75em;
	        top:0;
	        bottom:0;
	        margin: auto 0;
	      }
	    }
	  }
	}
	.date-wrapper{
	  background-color:$date-bg;
	  position:absolute;
	  left:-1em;
	  right:-1em;
	  height:4em;
	  box-shadow:
	    0px -1px $date-shadow,
	    0px 1.2em 0 -1em $date-shadow;
	  &:before,&:after{ 
	    content:'';
	    position:absolute;
	    top:-1em;
	    border-bottom:solid 1em $date-shadow;
	    width:0;
	    height:0;
	  }
	  &:before{
	    left:0;
	    border-left:solid 1em transparent;
	  }
	  &:after{
	    right:0;
	    border-right:solid 1em transparent;    
	  }
	  date{
	    background: inline-image("baner.svg") no-repeat;
		height:2em;
	    position:absolute;
	    padding:0 0;
	    width:26/1.4*1em;
	    left:50%;
	    top:50%;
	    line-height:2em;
	    text-align:center;
	    margin: -1em 0 0 -26/1.4*0.5em;
	    display:block;
	    font-size:1.4em;
	    .marked{
	    	color:$header-color;
	    }
	    

	  }
	}
	.prize-wrapper{
	  margin-top:4.2em;
	  height:20em;
	  position:relative;
	  .prize{
	    position:absolute;
	    left:-2em;
	    right:-2em;
	    height:100%;
	    background-color: $prize-bg; 
	    @include background-image(linear-gradient(bottom,  $prize-bg 0%, lighten($prize-bg,3%) 7%, $prize-bg 14%));
	    box-shadow:  0 13px 10px -12px $prize-shadow;
	    &:before,&:after{
	      content:'';
	      position:absolute;
	      bottom:0;
	      top:0;
	      width:2em;
	      background-color:$page-bg;
	    }
	    &:before{
	      left:0;
	      border-radius: 0 0 2em;
	    //  box-shadow:  -3px -2px 3px -4px  red inset;
	    }
	    &:after{
	      right:0;
	      border-radius: 0 0 0 2em;
	    //  box-shadow:  3px -2px 3px -4px  red inset;
	    }
	    .top{
	      position:absolute;
	      top:1em;
	      left:50%;
	      margin-left:-8.5em;
	      width:0;
	      border-right:solid transparent 8.5em;
	      border-left:solid transparent 8.5em;
	      border-bottom:solid $prize-color 4.5em;
	      height:0;
	      box-shadow:0 1em $prize-color;
	      &:after,&:before{
	        content:'';
	        position:absolute;
	        width:0.5em;
	        height:8.5em;
	        background-color:$prize-bg ;
	        left:50%;
	        top: -3em;
	      }
	      &:before{
	        -webkit-transform: rotate(60deg);
	        -webkit-transform-origin: bottom left;
	        margin-left:-2.75em;
	      }
	      &:after{
	        -webkit-transform: rotate(-60deg);
	        -webkit-transform-origin: bottom right;
	        margin-left:2.25em;
	      }
	    }
	    .curve-top{
	      position:absolute;
	      top:4.9em;
	      left:50%;
	      &:before,&:after{
	        content:'';
	        position:absolute;
	        bottom:0;
	        width:1.5em;
	        height:1.6em;
	        border:solid .4em $prize-bg;
	      }
	      &:after{
	        left:-0.15em;
	        border-radius:80% 30% 80% 20%;
	      }
	      &:before{
	        right:-0.15em;
	        border-radius:30% 80% 2% ;
	      }
	    }
	    .curve-bottom{
	      position:absolute;
	      top:4.9em;
	      left:50%;
	      &:before,&:after{
	        content:'';
	        position:absolute;
	        bottom:-0.9em;
	        width:4em;
	        height:3em;
	        border:solid .4em ;
	        border-color: transparent transparent $prize-bg;
	      }
	      &:after{
	        left:-0.15em;
	        border-radius:100% 60%;
	      }
	      &:before{
	        right:-0.15em;
	        border-radius:60% 100%;
	      }
	    }
      .center-box-curve{
      	position:absolute;
	      top:7em;
	      width:22em;
	      left:50%;
	      margin-left:-11em;
	      &:before,&:after{
	        content: '';
		      position:absolute;
	        top:-1.5em;
	        width: 3.5em;
	        height: 0;
	        border-top:solid 2em $prize-color;
	        border-bottom:solid 2em $prize-color;
	      }
	      &:before{
	        left: -2.5em;
	        border-left:solid transparent 1em;
	      }
	      &:after{
	        right: -2.5em;
	        border-right:solid transparent 1em;
	      }
      }
	    .center-box{
	      position:absolute;
	      top:7em;
	      height:4.5em;
	      width:22em;
	      left:50%;
	      margin-left:-11em;
	      background-color:$prize-color;
	      box-shadow: 0 0 0 0.5em $prize-bg ;
        /* &:after{
          position:absolute;
          bottom:0.5em;
          height: 1em;
          line-height: 1em;
          content: attr(data-after);
          font-size:0.37em;
          color:black;
        } */
	      .fund{
	        position:absolute;
	        bottom:(0.5/2.7)*1em;
	        color: white;
	        width:(11/2.7)*1em;
	        left:50%;
	        text-align:center;
	        margin-left:(11/2.7)*(-0.5em);
	        font-size:2.7em;
	        line-height:1em;
	        &:before{
	          position:absolute;
	          top:-1em;
	          height: 1em;
	          line-height: 1em;
	          content: attr(data-before);
	          font-size:0.37em;
	          color:black;
	        }
	        &:after{
	          position:absolute;
	          bottom:0.5em;
	          height: 1em;
	          line-height: 1em;
	          content: attr(data-after);
	          font-size:0.37em;
	          color:black;
	        }
	      }
	    }
	    .bottom{
	      position:absolute;
	      top:13em; 
	      left:50%;
	      margin-left:-8.5em;
	      width:0;
	      border-top:solid $prize-color 4.5em;
	      border-right:solid transparent 8.5em;
	      border-left:solid transparent 8.5em;
	      height:0;
	      box-shadow:0 -1em $prize-color;
	      &:after,&:before{
	        content:'';
	        position:absolute;
	        width:0.5em;
	        height:4em;
	        background-color: $prize-bg;
	        left:50%;
	        bottom:1.5em;
	      }
	      &:before{
	        margin-left:-4.75em;
	      }
	      &:after{
	        margin-left:4.25em;
	      }
	    }
	  }
	}
}
