header{
    @include user-select(none);
    height:$header-height;
    background-color:$header-bg;
    position:absolute;
    top:0;
    left:0;
    right:0;
    .fb-event{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	right: 3em;
    	margin: auto 0; 
		text-indent: -999999px;
		overflow: hidden;
		$image: 'facebook.png';
		width: image-width($image)/10px * 1em;
		height: image-height($image)/10px * 1em;
		@include background(inline-image($image));
		background-size: image-width($image)/10px * 1em image-height($image)/10px * 1em; 

    }
}
