.page-wrapper{
	position: absolute;
    top:$header-height;
    bottom:$footer-height;
    left: 0;
    right: 0;
    overflow: hidden;
}
.page-scroll-wrapper{
	.transition &{
		@include transition(.5s left ease-in);
	}
	position: absolute;
	background:$page-bg;
	width: 400%;
	top: 0;
	bottom: 0;
	left: 0;
}
.page{
	position: absolute;
	left:0;
	width: 25%;
	top: 0;
	bottom: 0; 
	overflow: auto;
}
.soon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	margin: auto 0;
	text-align: center;
	font-size: 3em;
	line-height: 2em;
}

#main{ 	  left: 0; }
#speaker{ left: 25%; }
#program{ left: 50%; }
#sponsor{ left: 75%; }


body.page-main .page-scroll-wrapper{
	left: 0;
}
body.page-speaker .page-scroll-wrapper{
	left: -100%;
}
body.page-program .page-scroll-wrapper{
	left: -200%;
}
body.page-sponsor .page-scroll-wrapper{
	left: -300%;
}