.chat-wrapper{
	font-size: 0.9em;
	$image: 'chat.png';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto; 
	width: 116em;
	height:image-height($image) / 10px *1em + 10em;
	.chat{
		width: image-width($image)/10px * 1em;
		height: image-height($image)/10px * 1em;
		@include background(inline-image($image));
		background-size: image-width($image)/10px * 1em image-height($image)/10px * 1em; 
		top: 10em;
		position: absolute;
	}
	@import "baner";
}